data_climate_foresight.tar
data/ 
*.ipynb
__pycache__
climsight.logwhe
climsight_evaluation.log
cache/
evaluation/evaluation_report.txt
evaluation/evaluation_answers.yml
rag_db/
rag_articles/
.*
*.log
venv311
venv
tmp/